 /* Initialize the font-kit */
            body {
                margin: 0;
                padding:0;
                font-family: montserrat, sans-serif;
            }

            /* Navigation bar */

            .navigation {
                overflow: hidden;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #333;
                z-index:2;
            }

            .navigation a {
                float: right;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 1em;
                cursor: pointer;
            }

            .navigation button{
                float: right;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 1em;

            }

            .navigation a:hover {
                background-color: #181919;
                color: white;
            }

            .navigation a.active {
                background-color: #4CAF50;
                color: white;
            }

            .navigation img {
                max-height: 3em;
                vertical-align: middle;
                padding: 0px 16px;
            }

            .map_setting img {
              height: auto;
              width: auto;
              max-width: 70px;
              max-height: 70px;
              position:absolute;
              bottom: 4%;
              z-index: 7;
              left: 4%;
            }
            .map_setting img:hover {
                cursor:pointer;
                color: white;
            }

            #logo {
                cursor:pointer;
            }

            /* Modal Login Box */

            .login {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
            }

            .login-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 400px;
                height: 475px;
            }

            .login-container {
                padding: 16px;
            }
.login-imagecontainer {
                text-align: center;
                margin: 24px 0 12px 0;
                position: relative;
            }

            img.loginLogo {
                width: 40%;
                border-radius: 50%;
            }
            .pinInfo {
                display: none;
                z-index: 3;
                position: fixed;
                padding-top: 60px;
                left:0;
                top:0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
            }

            .pinInfo-content {
                background-color: #fefefe;
                margin: auto;
                padding: 10px;
                border: 1px solid #888;
                width: 400px;
                height: 600px;
            }
            .pinInfo-container{
                padding: 0px;
            }
            .pin-imagecontainer {
              text-align: center;
              margin: 24px 0 12px 0;
              position: relative;
            }
            input[type=number], input[type=text],input[type=password] {
                width: 100%;
                padding: 12px 12px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                border-radius: 40px;
                font-family: montserrat, sans-serif;
            }


            .close {
                color: #FF5571;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            .animate {
                -webkit-animation: animatezoom 0.8s;
                animation animatezoom 0.8s;
            }

            @-webkit-keyframes animatezoom {
                from {-webkit-transform: scale(0)};
                to {-webkit-transform: scale(1)};
            }

            @keyframes animatezoom {
                from {transform: scale(0)};
                to {transform: scale(1S)};
            }

            .login-container button {
                background-color: #35C875;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 57%;
                border-radius: 40px;
                font-family: montserrat, sans-serif;
            }


            .pinInfo-container button {
                background-color: #ED5E17;
                color: white;
                padding: 14px 20px;
                margin: 0px 140px;
                border: none;
                cursor: pointer;
                width: 30%;
                border-radius: 30px;
                font-family: montserrat, sans-serif;
            }

            #map { position:absolute; top:0; bottom:0; width:100%; }
