/* Initialize the font-kit */
body {
    margin: 0;
    font-family: montserrat, sans-serif;
}

/* Navigation bar */

.navigation {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

.navigation a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

.navigation a:hover {
    background-color: #181919;
    color: white;
    cursor: pointer;
}

.navigation a.active {
    background-color: #4CAF50;
    color: white;
}

.navigation img {
    max-height: 3em;
    vertical-align: middle;
    padding: 0px 16px;
}

#logo {
    cursor:pointer;
}

/* Modal Login Box */

.login {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.login-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 475px;
}

.login-container {
    padding: 16px;
}

.login-imagecontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.loginLogo {
    width: 40%;
    border-radius: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: montserrat, sans-serif;
}

.close {
    color: #FF5571;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.8s;
    animation animatezoom 0.8s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)};
    to {-webkit-transform: scale(1)};
}

@keyframes animatezoom {
    from {transform: scale(0)};
    to {transform: scale(1S)};
}

.login-container button {
    background-color: #35C875;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 57%;
    border-radius: 40px;
    font-family: montserrat, sans-serif;
}

/* Page CSS */

body {
    background-color: #FCFCF6;
}

#pinPageContainer {
    position:absolute;
    top: 70px;
    display:flex;
}

#pinInfoDiv {
    padding: 20px;
}

.pinSection {
    margin: 10px;
    display: flex;
}

.fieldName {
    font-weight: bold;
}

.fieldData {
    text-indent: 20px;
}

.clickableRow {
    cursor: pointer;
}

.clickableRow:hover {
    background: #FAA51D !important;
}

.odd {
    background: #F5F5E7 !important;
}

#deleteBtn {
    background-color: crimson;
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    box-shadow: 2px 2px 2px black;
}

#deleteBtn:hover {
    background-color: darkred;
    cursor: pointer;
}

#btnContainer {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
